---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Sign in">
    <div class="hero min-h-screen bg-white dark:bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">New her? <a href="/register">Create an account</a></p>
            </div>
            <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" action="/api/auth/signin" method="post">
                    <div class="form-control">
                        <label class="label" for="email">
                            <span class="label-text" >Email</span>
                        </label>
                        <input type="email" name="email" id="email" placeholder="email" class="input input-bordered" required />
                    </div>
                    <div class="form-control">
                        <label class="label" for="password">
                            <span class="label-text">Password</span>
                        </label>
                        <label class="label" for="password">
                            <input type="password" name="password" id="password" placeholder="password" class="input input-bordered" required />
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-success" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</Layout>