<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./globals.css">
    <link rel="stylesheet" href="./general.css">
    <title>Events App</title>
</head>
<body>
    <header>
        <div>
          <div class="topNav">
            <img class="logo" alt="logo" src='./images/logo_black.png' />
            <nav>
              <ul>
                <li>
                  <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'> Events</a>
                </li>
                <li>
                    <a href='#'> About us</a>
                </li>
              </ul>
            </nav>
          </div>
          <p class="title">Events By 3: Anime Conventions</p>
        </div>
      </header>
      <main>
        <div id="events"></div>
      </main>
      <footer>
        <p> © 2023 SkyeFull90 — A Project Built with Astro</p>
      </footer>
      <script src="./main.js"></script>
</body>
</html>