<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/globals.css">
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <title>Events by 3</title>
</head>
<body>
    <header>
        <div>
          <div class="topNav">
            <img alt="logo" src='./images/logo_black.png' />
            <nav>
              <ul>
                <li>
                  <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'> Events</a>
                </li>
                <li>
                    <a href='#'> About us</a>
                </li>
              </ul>
            </nav>
          </div>
          <p class="title">Events By 3: Anime Conventions</p>
        </div>
      </header>
      <main>
        
      </main>
      <footer>
        <p> © 2023 SkyeFull90 — A Project Built with Astro</p>
      </footer>
</body>
</html>