

    <header>
      <div>
        <div class="topNav">
          <img alt="logo" src={'/images/logo_black.png'} width={50} height={50} />
          <nav>
            <ul class="link link-hover link-accent">
              <li>
                <a href={'/'}>Home</a>
              </li>
              <li>
                  <a href={'#'}> Events</a>
              </li>
              <li>
                  <a href={'/about-us'}> About us</a>
              </li>
            </ul>
          </nav>
        </div>
        <p class="title">Events By 3: Anime Conventions</p>
      </div>
    </header>
 